<div class="col-lg-2 col-md-2 col-sm-2 bg-primary sidebar mt-3" style="height:100vh;">
    <button class="mt-5 w-100 rounded py-1"><a href="/logout" style="text-decoration:none;color: black;" > Logout </a></button>
   
</div>